{# Mobile only. Hidden at 62rem and up in CSS. #}
<div class="callbar">
  <a class="callbar__call" href="{{ site.phone | telHref }}">{{ site.cta.primary }}</a>
  <a class="callbar__quote" href="/contact/">{{ site.cta.secondary }}</a>
</div>
